.card {
  display: flex;
  flex-direction: column;
  width: 285px;
  height: 440px;
  padding: 0;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  overflow: hidden;

  &__img {
    object-fit: contain;
    height: 275px;
  }
  &__title {
    text-align: left;
    font-size: 16px;
  }
  &__info {
    padding: 10px;
  }
}

.card__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
